
  @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300;10..48,400&family=Poppins:ital,wght@0,100;0,200;1,100;1,200&family=Roboto:wght@100;400&display=swap');

*{
 margin:0;
 padding:0;
 font-family:"Roboto",sans-serif;
box-sizing: border-box;
text-decoration: none;
scroll-behavior: smooth;
}
